body {
  background-color: black;
  color: white;
}

.nav {
  background-color: black;
  width: 200px;
}
.img {
  display: inline;
  position: absolute;
  left: 130px;
}
.home {
  display: inline;
  position: absolute;
  left: 385px;
  top: 42px;
  color: white;
}
.about {
  display: inline;
  position: absolute;
  left: 465px;
  top: 42px;
  color: white;
}
.publications {
  display: inline;
  position: absolute;
  left: 565px;
  top: 42px;
  color: white;
}
.Branches {
  display: inline;
  position: absolute;
  left: 682px;
  top: 42px;
  color: white;
}
.Feedback {
  display: inline;
  position: absolute;
  left: 780px;
  top: 42px;
  color: white;
}
.franchise {
  display: inline;
  position: absolute;
  left: 873px;
  top: 42px;
  color: white;
}
.icon1 {
  display: inline;
  position: absolute;
  left: 1030px;
  top: 42px;
  color: white;
  width: 60px;
  height: 60px;
}
.icon2 {
  display: inline;
  position: absolute;
  left: 1110px;
  top: 42px;
  color: white;
}
.orderonline {
  display: inline;
  position: absolute;
  left: 1190px;
  top: 35px;
  color: white;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
i {
  width: 40px;
  height: 40px;
}
.menu {
  background-color: gray;
  position: absolute;
  top: 107px;
  width: 100%;
  height: 80px;
  background-color: #0f0f0f !important;
  height: 150px;
}
.menu h2 {
  color: #292929;
  text-align: center;
  position: relative;
  top: -20px;
  font-size: 60px;
}
.menuscroller {
  /* background-color: aqua; */
  width: 1195px;
  height: 30px;
  position: absolute;
  top: 315px;
  left: 85px;
}
.menuscroller ul li {
  display: inline;
  padding-left: 30px;
  position: relative;
  top: -8px;
  color: white;
  font-size: 20px;
}
.salad {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 420px;
  color: white;
  text-align: center;
  font-size: 20px;
}
.row1 {
  position: absolute;
  top: 500px;
  left: 50px;
  width: 100%;
  height: 500px;

  display: flow-root;
}
.item1 {
  display: inline;
  position: absolute;
  top: 60px;
  left: 100px;
  width: 330px;
  height: 400px;
}
.item1 img {
  width: 330px;
  height: 225px;
}
.des {
  position: relative;
  left: -5px;
  text-align: center;
  top: -13px;
}
.item1 h4 {
  left: 20px;
  text-align: center;
  font-weight: 500px;
}
.price {
  text-align: center;
  position: relative;
  top: -12px;
}
.order {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item2 {
  display: flow-root;
  position: absolute;
  top: 60px;
  left: 505px;
  width: 330px;
  height: 400px;
}
.item2 img {
  width: 330px;
  height: 225px;
}
.des2 {
  font-weight: 300;
  text-align: center;
}
.price2 {
  text-align: center;
  position: relative;
  top: 40px;
}
.item3 {
  display: flow-root;
  position: absolute;
  top: 60px;
  left: 905px;
  width: 330px;
  height: 400px;
}
.item3 img {
  width: 330px;
  height: 225px;
}
.des3 {
  font-weight: 300;
  text-align: center;
}
.price3 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order2 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.order3 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.row2 {
  position: absolute;
  top: 1000px;
  left: 50px;
  width: 100%;
  height: 500px;

  display: flow-root;
}
.item4 {
  display: flow-root;
  position: absolute;
  top: 60px;
  left: 110px;
  width: 330px;
  height: 400px;
}
.item4 img {
  width: 330px;
  height: 225px;
}
.price4 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order4 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item5 {
  display: flow-root;
  position: absolute;
  top: 1px;
  left: 400px;
  width: 330px;
  height: 400px;
}
.item5 img {
  width: 330px;
  height: 225px;
}
.price5 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order5 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item6 {
  display: flow-root;
  position: absolute;
  top: -1px;
  left: 400px;
  width: 330px;
  height: 400px;
}
.price6 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order6 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item7 {
  display: flow-root;
  position: absolute;
  top: 480px;
  left: -801px;
  width: 330px;
  height: 400px;
}
.price7 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order7 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item8 {
  display: flow-root;
  position: absolute;
  top: 1px;
  left: 400px;
  width: 330px;
  height: 400px;
}
.price8 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order8 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item9 {
  display: flow-root;
  position: absolute;
  top: -1px;
  left: 801px;
  width: 330px;
  height: 400px;
}
.price9 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order9 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item10 {
  display: flow-root;
  position: absolute;
  top: 555px;
  left: 1px;
  width: 330px;
  height: 400px;
}
.price10 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order10 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item11 {
  display: flow-root;
  position: absolute;
  top: 555px;
  left: 400px;
  width: 330px;
  height: 400px;
}
.price11 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order11 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.item12 {
  display: flow-root;
  position: absolute;
  top: 555px;
  left: 801px;
  width: 330px;
  height: 400px;
}
.price12 {
  text-align: center;
  position: relative;
  top: 40px;
}
.order12 {
  position: absolute;
  left: 106px;
  top: 345px;
  background-color: #ed1c24;
  border-radius: 20px;
  height: 25px;
  width: 120px;
  text-align: center;
  padding-top: 8px;
}
.footer {
  position: absolute;
  top: 1000px;
  width: 420%;
  height: 580px;
  margin-left: -135px;
  background-color: #0f0f0f;
}
.footer img {
  max-width: 100%;
  width: 140px;
  height: 64px;
}
.footimg {
  margin: 85px;
  margin-left: 100px;
}
.bcs {
  font-weight: 900;
  font-size: 700px;
  color: rgb(5, 5, 5);
  display: inline;
  background-size: cover;
  position: absolute;
  top: -580px;
  opacity: 0.1;
  left: 70px;

  text-align: center;
}
.res {
  position: absolute;
  top: 100px;
  width: 320px;
  left: 102px;
}
.resdes {
  position: absolute;
  top: 50px;
  color: rgba(255, 255, 255, 0.7);
}
.cp {
  position: absolute;
  top: 210px;
  color: rgba(255, 255, 255, 0.7);
}
.links {
  position: absolute;
  top: 80px;
  left: 505px;
}
.links ul li {
  padding: 10px;
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
}
.bo {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
}
.links1 {
  position: absolute;
  top: 80px;
  left: 780px;
  width: 200px;
}
.links1 ul li {
  padding: 10px;
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
}
h3 {
  display: inline;
  position: absolute;
  top: 80px;
  left: 1080px;
  width: 200px;
  color: rgba(255, 255, 255, 0.7);
}
.icon1 {
  display: inline;
  position: absolute;
  top: 130px;
  left: 1080px;
  background-color: #ed1c24;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.icon2 {
  display: inline;
  position: absolute;
  top: 130px;
  left: 1130px;
  background-color: #ed1c24;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.icon3 {
  display: inline;
  position: absolute;
  top: 130px;
  left: 1180px;
  background-color: #ed1c24;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}
.icon1 i {
  padding: 14px;
}
.icon2 i {
  padding: 14px;
}
.icon3 i {
  padding: 14px;
}
.google {
  list-style: none;
}
.links2 {
  position: absolute;
  top: 200px;
  left: 1040px;
  list-style: none;
}
.links2 ul li a #gli {
  height: 44px;
  width: 141px;
  padding: 5px;
}
.fin {
  position: absolute;
  top: 228px;
  left: -1000px;
  width: 700%;
  border-top: 1px white solid;
  padding: 5px;
  color: rgba(255, 255, 255, 0.7);
}
